#Tue, 14 May 2013 11:46:07 +0100
app.name=Req9

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=e6c8016d-0659-48d4-8b9b-2cda098064d1
